/*css for subscription form*/
.searchform button .btn.btn-primary{
  background: #FE980F;
  border: medium none;
  border-radius: 0;
}
.searchform button .btn.btn-block{
  display: none;
}

/*css for custom form*/
.contact-form .atk-button
{
	margin-left:15px;
}

/*css for short cart form*/
.discount .atk-form-field input {
	width: 100%;
}